# @dash-remove-start algolia
export NEXT_PUBLIC_ALGOLIA_APP_ID=RHVCHJW67L
export NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=b868916bdc9c7290a0db5304ec0fa29f
export ALGOLIA_ADMIN_KEY=
# @dash-remove-end

# @dash-remove-start contentful
export CONTENTFUL_SPACE_ID=jcdjo56lmw8q
export CONTENTFUL_PREVIEW_ACCESS_TOKEN=5g9GNFpyqOnr7N3biSK903cTQjXGiByhhbtFx2XvA8w
export CONTENTFUL_PREVIEW_SECRET=showmeapreviewplease
export CONTENTFUL_ACCESS_TOKEN=lyUir4c7Gnk59m9gEe7o1SPyAbPMptBYc-hV-deF5M0
export CONTENTFUL_MANAGEMENT_ACCESS_TOKEN=
export CONTENTFUL_ENV_ID=master
# @dash-remove-end

# @dash-remove-start shopify
export NEXT_PUBLIC_SHOPIFY_STORE=deptdash
export NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN="94a0b1fcf16a93692150e69806d9786a"
export NEXT_PUBLIC_SHOPIFY_STOREFRONT_API_VERSION="2023-04"
# @dash-remove-end

# @dash-remove-start sanity
export NEXT_PUBLIC_SANITY_PROJECT_ID="xs2gm0x4"
export NEXT_PUBLIC_SANITY_DATASET="production"
export NEXT_PUBLIC_SANITY_PROJECT_TITLE="DASH™ + Sanity"
export NEXT_PUBLIC_SANITY_API_VERSION="2023-01-01"
export SANITY_API_READ_TOKEN="skrNTn1Swa4kfPBWobgHK73mBti5gEIIJyElW2ZfDq19IxBpxx2CyEpddWT5zAQYAzKYPcCqB00wT9DQVjFmit4hPZAO2iFPzP91rXXVXz6CHlIxYmTnXvzeG2GQVaA3vqvj7nLD9Bc1qeWkxxwXKdJWuXksn4p5yxZ0eot14GdSrAbLOyiX"
# @dash-remove-end

# @dash-remove-start stripe
export STRIPE_PUBLISHABLE_KEY="pk_test_51MbPQ2Fli3kyams8BdMI7klg4INSpgNsWH8RbVYD9JvkHUZKqsDqNMyhRfMTbMYYwCkabkrRRp982zT25058peNa00v1XBHj2x";
export STRIPE_SECRET_KEY=sk_test_51MbPQ2Fli3kyams8nIu5K9oJ0AkeW224xbUSLTEq0K5QEy25ZKCl5YcXMtIoQbxW2ue3U4BmSmnQC6lcZuu2DNyj00qDDWy8qJ
export STRIPE_WEBHOOK_SECRET=whsec_29a7e74273d50da622214c197f294d89f7df616b0a442d7bbce737efc7e7476a
export STRIPE_API_VERSION="2022-11-15"
# @dash-remove-end

# @dash-remove-start commercetools
export PUBLICLY_AVAILABLE_ORIGIN="http://localhost:3000"
export GOOGLE_MAPS_API_KEY="AIzaSyDE8_Yk3jtiLe4us1tWVokHkISOUwNWfig";
export COMMERCETOOLS_PROJECT_KEY=dept-dash-accelerator
export COMMERCETOOLS_API_URL=https://api.europe-west1.gcp.commercetools.com
export COMMERCETOOLS_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
export COMMERCETOOLS_CLIENT_ID=1mr0BKeUS6FTzseKvtsNJApM
export COMMERCETOOLS_SECRET=2fxxSZRiCMyWFel97aeFaUWQTt7NeA93
export COMMERCETOOLS_SCOPES="manage_project:dept-dash-accelerator manage_api_clients:dept-dash-accelerator view_audit_log:dept-dash-accelerator"

export COMMERCETOOLS_WEB_CLIENT_ID=3t9abVzh8we6L1pWwjCv8UEN
export COMMERCETOOLS_WEB_SECRET=Rp72kETXgAvaZK0KRy8mUqJ-0Iw0-ESJ
export COMMERCETOOLS_WEB_SCOPES="manage_my_quote_requests:dept-dash-accelerator manage_my_shopping_lists:dept-dash-accelerator manage_my_payments:dept-dash-accelerator manage_my_orders:dept-dash-accelerator manage_my_quotes:dept-dash-accelerator manage_my_profile:dept-dash-accelerator view_published_products:dept-dash-accelerator create_anonymous_token:dept-dash-accelerator view_categories:dept-dash-accelerator manage_my_business_units:dept-dash-accelerator"

export COMMERCETOOLS_HTTP_EXTENSION_SECRET="super-duper-s3cret"

export NEXTAUTH_URL=http://localhost:3000/api/commercetools/auth
export NEXTAUTH_SECRET="KAe2pFgUHdLSeYCx8FWaTrasKL9tbZta6N21kzgEtRU="
# @dash-remove-end

# @dash-remove-start kontent.ai
export KONTENT_AI_ENVIRONMENT_ID=942b001e-ccf5-00e6-fb5f-846ef4abd692
export KONTENT_AI_DELIVERY_API_KEY=ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAianRpIjogIjg3OTZlMDkwNGM0ZjQyY2Y4YzIxNTcwMDRhMGRmODliIiwNCiAgImlhdCI6ICIxNjc0MTU0MTUyIiwNCiAgImV4cCI6ICIxNzA1NjkwMTUyIiwNCiAgInZlciI6ICIxLjAuMCIsDQogICJwcm9qZWN0X2lkIjogIjk0MmIwMDFlY2NmNTAwZTZmYjVmODQ2ZWY0YWJkNjkyIiwNCiAgImF1ZCI6ICJkZWxpdmVyLmtlbnRpY29jbG91ZC5jb20iDQp9.R9pCxOq3Vr3cVr8Ys6-3ujZ8iS3jEWaF8H1N-BYcedU
export KONTENT_AI_PREVIEW_API_KEY=ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAianRpIjogIjNiODIzZjJhNzliYjQxZjRhYTRhM2U2YTM3ZDdhZjYzIiwNCiAgImlhdCI6ICIxNjc0MTUzOTg5IiwNCiAgImV4cCI6ICIxNzA1Njg5OTg5IiwNCiAgInZlciI6ICIxLjAuMCIsDQogICJwcm9qZWN0X2lkIjogIjk0MmIwMDFlY2NmNTAwZTZmYjVmODQ2ZWY0YWJkNjkyIiwNCiAgImF1ZCI6ICJwcmV2aWV3LmRlbGl2ZXIua2VudGljb2Nsb3VkLmNvbSINCn0.9oJbRjwG6Ln6Cwjjeh7H5Z-qPRjY7jBafu3-WV0yDBQ
export KONTENT_AI_MANAGEMENT_API_KEY=ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAianRpIjogIjU5MzRkMzNmY2ViNDQ0ZjRiZmFhMDA0ZTY2NTFmZDE1IiwNCiAgImlhdCI6ICIxNjg3MzU3ODMxIiwNCiAgImV4cCI6ICIxNzM1NjU5MDAwIiwNCiAgInZlciI6ICIzLjAuMCIsDQogICJ1aWQiOiAiNjM2YTZiNjhiN2Y4OTE4NzFmNTBkZTA5IiwNCiAgInByb2plY3RfY29udGFpbmVyX2lkIjogIjVjMTljZDYwZmVmZjAwYTI5NjU4N2Y4NTdhZWIwOWMxIiwNCiAgImF1ZCI6ICJtYW5hZ2Uua2VudGljb2Nsb3VkLmNvbSINCn0.NPUmwSOebAhVEOQABv_RMSQ25CHMipcjSM9uEY-gk-M
# @dash-remove-end