.paymentContainer {
  margin-top: 1rem; /* mt-4 */
}

.title {
  font-size: 1.25rem; /* text-body-lg */
  font-weight: 700; /* font-bold */
}

.subtitle {
  margin-bottom: 1rem; /* mb-4 */
  font-size: 0.875rem; /* text-body-sm */
  color: #6b7280; /* text-text-weak */
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* grid grid-cols-2 */
}

.stripeElement {
  grid-column: span 2 / span 2; /* col-span-2 */
}

@media (min-width: 1024px) {
  .paymentContainer {
    margin-top: 2rem; /* lg:mt-8 */
  }
}
