node_modules
.DS_Store

/build
/public/build
storybook-static
.envrc
docker.env
contentful*log*.json
/postgres-data
/app/tailwind/tailwind.css
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/support/test-browser-state.json
/scripts/dash-bootstrap-credentials.txt
/scripts/dash-deploy-credentials.txt
cdk/cdk.context.json
.vercel
